<!--Jaime Antolín, Álvar Domingo, Pablo Jurado, Leire Osés declaramos que esta
solución es fruto exclusivamente de nuestro trabajo personal. No hemos sido ayudados por
ninguna otra persona ni hemos obtenido la solución de fuentes externas, y tampoco hemos
compartido nuestra solución con nadie. Declaramos además que no hemos realizado de manera
deshonesta ninguna otra actividad que pueda mejorar nuestros resultados ni perjudicar
los resultados de los demás.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
 <h1>Login with Google</h1>
 <a href={{url}}>Login</a>
</body>
</html>